*/*{
text-align: right;
}*/

.im{
    border: 10px solid red;
}
h1{
    font-family: fantasy;
    
}
body{
background-color: rgb(226, 182, 215);
}
h2{
    color: blueviolet;
}
thead{
background-color: chartreuse;
}

tbody{
   background-color: olivedrab;
}


